* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --font-lexend: "Lexend Deca", sans-serif;
  --font-big-shoulders: "Big Shoulders Display", cursive;

  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  --paragraphs: hsla(0, 0%, 100%, 0.75);
  --backgrounds-headings-buttons: hsl(0, 0%, 95%);
}

body {
  width: 100vw;
  position: relative;
  background: var(--backgrounds-headings-buttons);
  display: flex;
  align-items: center;
}

.card__content {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;

  margin-top: 100px;
  margin-bottom: 100px;
}

.card__content div {
  padding: 3rem 2.5rem;
}

.sedans {
  background: var(--bright-orange);
}

.suvs {
  background: var(--dark-cyan);
}

.luxury {
  background: var(--very-dark-cyan);
}

.card__icon {
  margin-bottom: 2rem;
}

.card__title {
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  color: var(--backgrounds-headings-buttons);
  font-family: var(--font-big-shoulders);
  font-size: 34px;
  letter-spacing: 0.05rem;
}

.card__paragraph {
  margin-bottom: 1.5rem;
  color: var(--paragraphs);
  font-family: var(--font-lexend);
  font-size: 15px;
  letter-spacing: 0.04rem;
  line-height: 1.7;
}

.card__button {
  padding: 0.8rem 2rem;
  border-radius: 25px;
  border: solid 2px white;
  cursor: pointer;
  font-family: var(--font-lexend);
  transition: 0.2s;
}

.sedans button {
  color: var(--bright-orange);
}

.suvs button {
  color: var(--dark-cyan);
}

.luxury button {
  color: var(--very-dark-cyan);
}

.attribution {
  width: 100vw;
  position: absolute;
  bottom: 0;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--dark-cyan);
  font-family: var(--font-lexend);
  font-size: 12px;
}

.attribution a {
  text-decoration: none;
  color: var(--very-dark-cyan);
}

@media screen and (min-width: 912px) {
  body {
    height: 100vh;
  }
  .card__content {
    margin: 0 auto;
  }
  .card__content {
    display: flex;
  }
  .card__paragraph {
    margin-bottom: 5rem;
    font-size: 16px;
  }
  .attribution {
    font-size: 15px;
  }
  .card__button:hover {
    background: none;
    color: var(--backgrounds-headings-buttons);
  }
}
